<div class="sidebar" [ngClass]="collapsed ? 'sidebar-collapsed': ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">T</button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">TMS</div>
    <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidebar()">
      <mat-icon class="fal fa-times close-icon">close</mat-icon>
    </button>
  </div>
  <div class="sidebar-content">
    <ul class="sidebar-nav">
      <li class="sidebar-nav-item" *ngFor="let data of navData">
        <a class="sidebar-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon class="sidebar-link-icon" [class]="data.icon">{{data.icon}}</mat-icon>
          <span class="sidebar-link-text" @fadeInOut *ngIf="collapsed">
            {{data.label}}
          </span>
        </a>
      </li>
    </ul>
    <div class="logout-button-wrapper">
      <button mat-button class="logout-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span class="sidebar-link-text" @fadeInOut *ngIf="collapsed">
          Sign Out
        </span>
      </button>
    </div>
  </div>
</div>